*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webglCanvas
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}



button{
    z-index: 2;
    position: relative; 
}

.btn__red {
    background-color: red;
}

.btn__green {
    background-color: green;
}

.btn__yellow {
    background-color: yellow;
}

.btn__blue {
    background-color: blue;
}